<%- include('partials/header') %>

<div class="container">
<form action="/createpost" method="post">
    <!-- 2 column grid layout with text inputs for title and subtitle of post. -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <% if (post) { %>
            <input type="text" name="title" class="form-control" value="<%= post.title %>"/>
          <% } else { %>
            <input type="text" name="title" class="form-control" />
          <% } %>
          <label class="form-label">Post Title</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <% if (post) { %>
            <input type="text" name="subtitle" class="form-control" value="<%= post.subtitle %>"/>
          <% }  else { %>
            <input type="text" name="subtitle" class="form-control" />
          <% } %>
          <label class="form-label">Post Subtitle</label>
        </div>
      </div>
    </div>
    <label class="form-label">Post Content</label>
    <% if (post) { %>
      <textarea class="form-control" name="content">
        <%- post.content %>
      </textarea>
    <% } else { %>
      <textarea class="form-control" name="content"></textarea>
    <% } %>
    <script>
      tinymce.init({
        selector: 'textarea',
        height: 400,
      });
    </script>
    <% if (post) { %>
      <input type="hidden" name="postID" value="<%= post.id %>"/>
    <% } %>
    <p class="spacer"></p>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
  </form>
</div>

<%- include('partials/footer') %>
