<%- include('partials/header') %>

<div class="container">
    <h1><%= post.title %></h1>
    <h3><%= post.subtitle %></h3>
    <h5>Author: <%= author %> Date Posted: <%= post.date %></h5>
    <p><%- post.content %></p>
</div>

<%- include('partials/footer') %>